<div class="body">
  <h1 class = "form_header login grey-text">Login</h1>

  <h4 id = "errors"> <%= flash[:notice] %></h4>
<div class="container input-field">
<%= form_tag(login_path) do %>

  <%= label_tag :username%>
  <%= text_field_tag :username%> <br>

  <%= label_tag :password%>
  <%= password_field_tag :password%> <br>

  <%= label_tag "Sign in as" %>
  <%= select_tag "dog_or_user","<option>Dog</option><option>User</option>".html_safe, class:"browser-default"%> <br>

  <%= submit_tag "Login", class:"waves-effect blue-grey lighten-3 btn"%>
<% end %>
</div>
</div>
