<ol>
  <% if flash[:dog_errors] %>
    <% flash[:dog_errors].each do |error| %>
      <li> <%= error %> </li>
    <% end %>
  <% end %>
</ol>

<%= form_for @dog do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :breed %>
  <%= f.text_field :breed %> <br>

  <%= f.label :age %>
  <%= f.text_field :age %> <br>

  <%= f.label :personality %>
  <%= f.text_field :personality %> <br>

  <%= f.label :size %>
  <%= f.text_field :size %> <br>

  <%= f.submit %>

  <% end %>
