<ol>
  <% if flash[:dog_errors] %>
    <% flash[:dog_errors].each do |error| %>
      <li> <%= error %> </li>
    <% end %>
  <% end %>
</ol>

<%= form_for @dog do |f| %>

  <%= f.label :username %>
  <%= f.text_field :username %> <br>

  <%= f.label :password %>
  <%= f.text_field :password %> <br>

  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.label :breed %>
  <%= f.text_field :breed %> <br>

  <%= f.label :color %>
  <%= f.text_field :color %> <br>

  <%= f.label :age %>
  <%= f.number_field :age %> <br>

  <%= f.label :personality %>
  <%= f.text_field :personality %> <br>

  <%= f.label :location %>
  <%= f.text_field :location %> <br>

  <%= f.label :size %>
  <%= f.select :size, ['Small', 'Medium', 'Large']%> <br>

  <%= f.label :gender %>
  <%= f.select :gender, ['Male', 'Female', 'Other']%> <br>

  <%= f.submit %>

  <% end %>
