<nav>
    <div class="nav-wrapper blue-grey lighten-4">
      <a href="/" class="brand-logo">PAWLY</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <% if current_user %>
          <%= link_to 'Appointments', appointments_path, method: :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1" %>
        <% end %>
        </li>
        <li> <%= link_to "Users", users_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
        <li> <%= link_to "Home", home_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
        <li><% if current_user %>
          <%= link_to 'Logout', logout_path, method: :delete, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1" %>
        <% end %>
        </li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <% @dogs.each do |dog| %>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="https://i.imgur.com/OPAR3PC.jpg" style="width:338px;height:338px;">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p>Name: <%= dog.name %></p>
          <p>Age: <%= dog.age %></p>
          <p>Gender: <%= dog.gender %></p>
          <p>Breed: <%= dog.breed %></p>
          <p>Color: <%= dog.color %></p>
          <p>Personality: <%= dog.personality %></p>
          <p>Size: <%= dog.size %></p>
          <p>Location: <%= dog.location %></p>
        </div>
        <div class="card-action">
          <a href="<%= dog_path(dog) %>"><%= dog.name %></a>
        </div>
      </div>
    </div>

<% end %>
</div>
