<nav>
    <div class="nav-wrapper blue-grey lighten-4">
      <a href="/" class="brand-logo">PAWLY</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <%= link_to "Dogs", dogs_path, :method => :get, class: "waves-effect waves-light btn-flat white grey-text text-darken-1"%></li>
        <li> <%= link_to "Users", users_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
        <li> <%= link_to "Home", home_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
          <li>  <% if current_user %>
                <%= link_to 'Logout', logout_path, method: :delete, class: "waves-effect waves-light btn-flat white grey-text text-darken-1" %>
                <% end %>
          <li>
    </div>
  </nav>

  <div class="row">
    <div class="col s4 offset-s2">
      <div class="card">

        <div class="card-content">
          <p>Name: <%= @dog.name %> </p>
          <p>Breed: <%= @dog.breed %></p>
          <p>Gender: <%= @dog.gender %></p>
          <p>Color: <%= @dog.color %></p>
          <p>Personality: <%= @dog.personality %></p>
          <p>Location: <%= @dog.location %> </p>
          <p>Size: <%= @dog.size %> </p>
          <p>Age: <%= @dog.age %> </p>
        </div>
        <div class="card-action">
          <a href=""><%= @dog.name %></a>
        </div>
      </div>
    </div>

    <div class="dog-profile-pic">
    <img src="/dogingrass.jpg" style="width:500px;height:500px;">
    </div>


    <div class="edit_dog_button">
      <% if current_user.class.model_name.name == "Dog" && current_user.id == @dog.id %>
      <%= button_to "Edit", edit_dog_path(@dog.id), :method => :get, class: "waves-effect waves-light btn-large blue-grey lighten-3" %>
    <% end %>
    </div>

    <div class="delete_dog_button">
      <% if current_user.class.model_name.name == "Dog" && current_user.id == @dog.id %>
      <%= button_to "Delete", @dog, :method => :delete, class: "waves-effect waves-light btn-large blue-grey lighten-3"%>
    <% end %>
    </div>

    <div class="appointment_make_button">
      <% if current_user.class.model_name.name == "Dog" && current_user.id == @dog.id %>
      <%= button_to "Make a new Appointment", new_appointment_path, :method => :get,class: "waves-effect waves-light btn-large blue-grey lighten-3" %>
    <% end %>
    </div>

    <div class="dog_name">
      <h1><%= @dog.name %></h1>
    </div>
