<h1>edit that user</h1>

  <% if flash[:user_errors] %>
    <% flash[:user_errors].each do |error| %>
      <li> <%= error %> </li>
    <% end %>
  <% end %>
</ol>

<%= form_for @user do |f| %>

<%= f.label :username %>
<%= f.text_field :username  %><br>

<%= f.label :password %>
<%= f.password_field_tag :password %><br>

<%= f.label "Full Name" %>
<%= f.text_field :full_name %><br>

<%= f.label :age %>
<%= f.number_field :age %><br>

<%= f.label :location %>
<%= f.text_field :location %><br>

<%= f.label :occupation %>
<%= f.text_field :occupation %><br>

<%= f.label :bio %>
<%= f.text_area :bio %><br>

<%= f.submit %>

<% end %>
