<nav>
    <div class="nav-wrapper blue-grey lighten-4">
      <a href="/" class="brand-logo">PAWLY</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <% if current_user %>
          <%= link_to 'Appointments', appointments_path, method: :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1" %>
        <% end %>
        </li>
        <li> <%= link_to "Dogs", dogs_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
        <li> <%= link_to "Home", home_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
        <li><% if current_user %>
          <%= link_to 'Logout', logout_path, method: :delete, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1" %>
        <% end %>
        </li>
      </ul>
    </div>
  </nav>


  <div class="row">
    <% @users.each do |user| %>
    <div class="col s3">
      <div class="card">
        <div class="card-image">
          <img src="https://i.imgur.com/Bm1gCyS.png" style="width:338px;height:338px;">
          <span class="card-title"></span>
        </div>
        <div class="card-content">
          <p><%= user.age %></p>
          <p><%= user.occupation %></p>
          <p><%= user.location %></p>
          <p><%= user.bio %></p>
        </div>
        <div class="card-action">
          <a href="<%= user_path(user) %>"><%= user.full_name %></a>
        </div>
      </div>
    </div>

<% end %>
</div>
