<nav>
    <div class="nav-wrapper blue-grey lighten-4">
      <a href="/" class="brand-logo">PAWLY</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li> <%= link_to "Dogs", dogs_path, :method => :get, class: "waves-effect waves-light btn-flat white grey-text text-darken-1"%></li>
        <li> <%= link_to "Users", users_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
        <li> <%= link_to "Home", home_path, :method => :get, class: "waves-effect waves-hard btn-flat white grey-text text-darken-1"%> </li>
          <li>  <% if current_user %>
                <%= link_to 'Logout', logout_path, method: :delete, class: "waves-effect waves-light btn-flat white grey-text text-darken-1" %>
                <% end %>
          <li>
    </div>
  </nav>

  <%= form_tag(appointments_path, method: "get",) do %>
    <%= label_tag("appt_search", "Search for:") %>
    <%= text_field_tag :appt_search%>
    <%= submit_tag("SEARCH") %>
  <% end %><br>

<div class="row">
  <% @appointments.each do |appointment| %>
  <div class="col s3">
    <div class="card">
      <div class="card-image">
        <img src="https://i.imgur.com/OPAR3PC.jpg" style="width:338px;height:338px;">
        <span class="card-title"></span>
      </div>
      <div class="card-content">
        <p>Title: <%= appointment.title %></p>
        <p>Category: <%= appointment.category %></p>
        <p>Dog: <%= appointment.dog.name %></p>
        <p>Location: <%= appointment.location %></p>
        <p>Price: <%= appointment.price %></p>
        <p>Date: <%= appointment.date %></p>
      </div>
      <div class="card-action">
        <a href="<%= appointment_path(appointment) %>"><%= appointment.title %></a>
      </div>
    </div>
  </div>
  <% end %>
  </div>

  <div class="container">
  <ol id = "errors">
   <%= flash[:appt_notice] %><br>
   </ol>
