<h1 class = "form_header">New Appointment</h1>


<div class="container input-field">
  <ol id = "errors">
  <% if flash[:appt_errors] %>
    <% flash[:appt_errors].each do |error| %>
      <li> <%= error %> </li>
    <% end %>
  <% end %>
  </ol>

  <%= form_for @appointment, html: {class:"form_input"} do |f| %>

  <%= f.label :title %>
  <%= f.text_field :title %><br>

  <%= f.label :category %>
  <%= f.select :category, ['Excerise', 'Breeding', 'Training', 'Dog Sitting', 'Grooming'],{},{:class => 'browser-default'} %><br>

  <%= f.label :location %>
  <%= f.text_field :location %><br>

  <%= f.label :price %>
  <%= f.number_field :price %><br>

  <%= f.label :description %>
  <%= f.text_area :description%><br>

  <%= f.label :dog %>
  <%= f.collection_select :dog_id, @dogs, :id, :name, {},{:class => 'browser-default'}%> <br>

  <%= f.label :date %>
  <%= f.text_field :date, data:{ provide:'datepicker'}%>

  <%= f.submit class: "waves-effect blue-grey lighten-1 btn" %>
  <% end %>
</div>
