<h1>appointment show page</h1>

<label>
Appointment Title: 
</label>
<%= @appointment.title %><br>
User Id: <%= @appointment.user.id%>

<%= form_for @appointment do |f| %>  
<%= f.label "Whose Dog?" %>
<%= f.collection_select :user_id, @users,:id, :f_name %>
<%= f.submit%>
<% end %>
