<h1>appointment show page</h1>
<h4><%= flash[:cant_delete]  %></h4>

<label>
Appointment Title:
</label>
<%= @appointment.title %><br>

<% if @appointment.user %>
  Taken By: <%= @appointment.user.full_name%>
<% else  %>
  This appointment has not been taken yet
<% end %>

<%  if current_user.class.model_name.name == "User" && @appointment.user_id == nil %>
<%= button_to "Take Appointment", appointment_helper_path(@appointment.id), :method => :patch %>
<% end %>

<%= button_to "Delete", @appointment, :method => :delete %>
